body
{
width: 100%;
margin: 0;
padding: 0;
font-size: 12px;
color: #676767;
font-family: sans-serif;
}
.notify
{
background: #222220;
color: #fff;
font-size: 18px;
padding: 0.5%;
text-align: center;
}
.head
{
display: inline-flex;
width: 100%;
}
.logo_img
{
width: 65%;
}
.logo_img img
{
width: 103px;
height: auto;
float: right;
padding-right: 17%;
padding-top: 1.7%;
}
.search_box
{
width: 35%;
display: inline-flex;
}
.input-box
{
width: 70%;
display: inline-flex;
padding: 1.5%;
}
.input-box input
{
width: 100%;
padding: 2%;
text-transform: uppercase;
}
.input-box input.relative
{
position: relative;
}
.input-box span.absolute
{
position: absolute;
float: right;
font-size: 1.4em;
margin-left: 21.5%;
padding: 0.6% 0.2%;
}
.icon_head
{
width: 30%;
display: inline-flex;
}
.icon_head span.user_icon{
width: 50%;
margin-left: 20%;
text-align: center;
padding-top: 8%;
font-size: 2.0em;
}
.icon_head span.user_icon i
{
float: left;
}
.icon_head span.shopping_bag{
width: 50%;
margin-right: 20%;
text-align: center;
padding-top: 8%;
font-size: 2.0em;
}
.icon_head span.shopping_bag i
{
float: right;
}
nav ul.nav_title1
{
padding: 0;
margin: 0.3% 0% 0.3% 0%;
width: 100%;
display: inline-flex;
font-size: 16px;
}
nav ul.nav_title1 li
{
display: inline-flex;
}
nav ul.nav_title1 li a
{
text-decoration: none;
color: #676767;
}
nav ul.nav_title1 li:nth-child(1)
{
margin-left: 23%;
}
nav ul.nav_title1 li:nth-child(2)
{
margin-left: 2.3%;
}
nav ul.nav_title1 li:nth-child(3)
{
margin-left: 2.3%;
}
nav ul.nav_title1 li:nth-child(4)
{
margin-left: 2.3%;
}
nav ul.nav_title1 li:nth-child(5)
{
margin-left: 2.3%;
}
nav ul.nav_title1 li:nth-child(6)
{
margin-left: 2.3%;
}
nav ul.nav_title1 li:nth-child(7)
{
margin-left: 2.3%;
}
nav ul.nav_title1 li:nth-child(5) a
{
color: #e4032d;
}
nav ul.nav_title2
{
padding: 0;
margin: 0.3% 0% 0.3% 0%;
width: 100%;
display: inline-flex;
font-size: 16px;
}
nav ul.nav_title2 li
{
display: inline-flex;
}
nav ul.nav_title2 li a
{
text-decoration: none;
color: #676767;
}
nav ul.nav_title2 li:nth-child(1)
{
margin-left: 23%;
}
nav ul.nav_title2 li:nth-child(2)
{
margin-left: 1.5%;
}
nav ul.nav_title2 li:nth-child(3)
{
margin-left: 1.5%;
}
nav ul.nav_title2 span
{
padding-right: 3%;
}
.banner
{
width: 100%;
}
.banner img
{
width: 100%;
padding: 0.4% 0% 0.2% 0%;
}
.row1
{
width: 100%;
display: inline-flex;
}
.row1 img
{
width: 30%;
padding: 1% 1.65%;
}
.row2
{
width: 100%;
display: inline-flex;
}
.row2  img
{
width: 47%;
padding: 1% 1.5%;
}
.row3
{
width: 100%;
display: inline-flex;
}
.row3 img
{
width: 30%;
padding: 1% 1.65%;
}
ul.section-menu
{
padding: 0;
width: 100%;
display: inline-flex;
font-size: 16px;
}
ul.section-menu li a
{
text-decoration: none;
color: #676767;
}
ul.section-menu li:nth-child(1)
{
margin-left: 10%;
}
ul.section-menu li:nth-child(2)
{
margin-left: 28%;
}
ul.section-menu li:nth-child(3)
{
margin-left: 26%;
}
ul.section-menu
{
list-style-type: none;
}
ul.section-menu span{
margin: 27%;
font-size: 1.5em;
padding: 2%
}
.row4
{
width: 100%;
display: inline-flex;
}
.row4 img
{
width: 21.6%;
padding: 1% 1.7%;
}
footer
{
background-color: #f2f2f2;
}
.footer1
{
width: 100%;
display: inline-flex;
}
.footer1 div.footer_icon
{
width: 25%;
font-size: 2vw;
text-align: center;
padding-top: 3%;
}
.footer1 div.footer_icon span
{
padding: 1%;
}
.footer1 div.content1
{
width: 25%;
padding: 2% 0% 0% 5%;
}
.footer1 ul
{
    padding: 0;
}
.footer1 div.content1 ul li a
{
	text-decoration: none;
	color: #676767;
}
.footer1 div.content1 ul li 
{
	list-style-type: none;
}
.footer1 div.content2
{
width: 25%;
padding: 2% 0% 0% 3%;
}
.footer1 div.content2 ul li a
{
	text-decoration: none;
	color: #676767;
}
.footer1 div.content2 ul li 
{
	list-style-type: none;
}
.footer1 div.content3
{
width: 25%;
padding: 2% 0% 0% 3%;
}
.footer1 div.content3 ul li a
{
	text-decoration: none;
	color: #676767;
}
.footer1 div.content3 ul li 
{
	list-style-type: none;
}
.footer2 
{
width: 100%;
    padding: 0;
}
.footer2 ul
{
width: 100%;
    padding: 0;
}
.footer2 ul li a
{
	text-decoration: none;
	color: #676767;
}
.footer2 ul li 
{
	list-style-type: none;

}
.footer2 ul
{
	margin: 0;
	width: 100%;
	display: inline-flex;
	
}
.footer2 ul li:nth-child(1)
{
	padding:1% 0% 0% 38%;
}
.footer2 ul li:nth-child(2)
{
	padding:1% 0% 0% 3%;
}
.footer2 ul li:nth-child(3)
{
	padding:1% 0% 0% 3%;
}
.footer2 ul li:nth-child(4)
{
	padding-left: 36%;
	font-size: 3em;
}


